<header class="header">
    <!-- <div class="header__logo-box">
        <img src="../../../public/img/logo-white.jpg" alt="Logo" class="header__logo">
    </div> -->

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Hello!</span>
            <span class="heading-primary--sub">I am Vish</span>
            <span class="heading-primary--var">Full Stack Developer | Machine Learning Engineer | Blockchain Developer | Big Data Engineer</span>
        </h1>
    </div>
</header> 