<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">linkedin</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">github</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">facebook</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">email</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <p class="footer__copyright">
                Designed and Developed by <a href="#" class="footer__link">Vishwatej Reddy</a>.
                Copyright &copy; 2018
            </p>
        </div>
    </div>
</footer>