<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            About Me
        </h2>
    </div>

    <div class="row text">
        <div class="col-md-8">
            <p class="paragraph">
                Hello! My name is Vishwatej Reddy and I am a Computer Science Graduate Student at Stony Brook University.
                I am a goal-oriented and self-driven technologist who is passionate about solving challenging problems and always looking out for ways to bridge the gap between the humans and technology. I believe that my success is highly dependent on the impact I make, and this inspires me to constantly learn new technologies and use them to make everyday life easier. Looking for new opportunities to step into the sectors utilizing Machine learning, Data Engineering, Blockchain and Full stack Java development.
                If you have an interesting challenge in any of the above fields and would like to have some help then reach out to me.
            </p>
            <app-button class="explore"></app-button>
        </div>
        <div class="col-md-4">
            <img src="../../assets/about_image.jpg" class="about_image" alt="about_image">
        </div>
    </div>
</section>