.section-book {
    margin-top: 6rem;
    padding: 10rem 15rem;
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    @media (max-width: 56.25em) {
      .section-book {
        padding: 10rem 0; } }
  
.book {
background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
background-size: 100%;
border-radius: 3px;
box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
@media (max-width: 75em) {
.book {
background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
background-size: cover; } }
@media (max-width: 56.25em) {
.book {
background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%); } }
.book__form {
width: 100%;
padding: 6rem; }
@media (max-width: 75em) {
.book__form {
    width: 65%; } }
@media (max-width: 75em) {
.book__form {
    width: 100%; } }

    .form__group:not(:last-child) {
        margin-bottom: 2rem; }
      
      .form__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rbga(#fff, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s; }
        @media (max-width: 56.25em) {
          .form__input {
            width: 100%; } }
        .form__input:focus {
          outline: none;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          border-bottom: 3px solid #5643fa; }
        .form__input:focus:invalid {
          border-bottom: 3px solid #ff7730; }
        .form__input::-webkit-input-placeholder {
          color: #999; }
      
      .form__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s; }
      
      .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); }
      
      .form__radio-group {
        width: 49%;
        display: inline-block; }
        @media (max-width: 56.25em) {
          .form__radio-group {
            width: 100%;
            margin-bottom: 2rem; } }
      
      .form__radio-input {
        display: none; }
      
      .form__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem; }
      
      .form__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid #5643fa;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem; }
        .form__radio-button::after {
          content: "";
          display: block;
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #5643fa;
          opacity: 0;
          transition: opacity .2s; }
      
      .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
        opacity: 1; }

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s; }
    @media (max-width: 56.25em) {
        .heading-secondary {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
        .heading-secondary {
        font-size: 2.5rem; } }
    .heading-secondary:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-margin-bottom-small {
margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
margin-bottom: 4rem !important; }
@media (max-width: 56.25em) {
.u-margin-bottom-medium {
margin-bottom: 3rem !important; } }

.u-center-text {
    text-align: center !important; }

.btn--green {
background-color: #5643fa;
color: #fff; }
.btn--green::after {
background-color: #5643fa; }

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
border-radius: 10rem;
position: absolute;
top: 0;
left: 0;
z-index: -1;
transition: all .4s; }

.contact {
    display: flex;
    justify-content: center;
}
