<section class="section-features"> 
    <h1 class="heading-primary">Machine Learning Projects</h1>              
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Autonomous Driving</h3>
                <p class="feature-box__text">
                    Developed the model to detect the objects like the cars, pedestrians, signals etc and applied it on the dataset provided by Drive.ai which contains the snapshots of the traffic taken in real time.
                    This application implements the YOLO object detection algorithm from the research paper along with the non-max suppression filter.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Face Recognition</h3>
                <p class="feature-box__text">
                    Implemented a face recognition system according to the algorithm presented in the FaceNet paper. This system handles the problems of Face Recognition and Face Verification.
                    This system implements a simple concept of converting the image into 128 dimensional encodings and then comparing them to find the similarities.
                    This system uses a triplet loss function to find the similarities between the encodings.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Neural Machine Translation</h3>
                <p class="feature-box__text">
                    Developed a Sequence to Sequence Recurrent Neural Network using attention mechanism to translate the human readable dates (25th of July, 2018) to machine readable dates (2018-07-25).
                    The input sequence is converted to one hot vector and then it is passed into the Bi-directional LSTM as we need to know the entire sentence to learn, then this output is exposed to the attention mechanism post which it is passed to another layer of uni-directional LSTM and then softmax function is applied to get the required output.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Trigger Word Detection</h3>
                <p class="feature-box__text">
                    Developed a Recurrent Neural Network model which takes an audio clip containing the trigger word as an input and whenever it comes across the trigger word it triggers a custom event.
                    The dataset was generated by inserting the trigger word randomly in any random audio clip.The inputs are passed through 1D convolution post which it is passed through GRU units. Batch Normalization and Dropout has been applied as Regularization methods to help improve the accuracy.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Conversational Chatbot</h3>
                <p class="feature-box__text">
                    Designed and developed a conversational chatbot using the sequence to sequence model of a Recurrent Neural Network and applying the concepts of Deep NLP. This chatbot has been trained on the movie corpus dataset.
                    In this model, the input data has been preprocessed by tokenization and converting the sentences into the embeddings vector which makes it easier for the neural network to train.
                    The sequence to sequence model has been implemented using the bi-directional LSTM network and attention mechanism along with dropout regularization. Attention mechanism has also been applied during the decoding process of the model. Adam optimizer has been used for optimizing the loss function.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Recurrent Neural Networks</h3>
                <p class="feature-box__text">
                    Developed a Recurrent Neural Network model which takes the sentence as an input and outputs the relevant emojis associated with that sentence. This model has been implemented by converting the input sentence words into word embeddings and then passing them through LSTM model and applying the dropout regularization to improve the accuracy.
                    Developed a Recurrent Neural Network which takes the music samples as an input and generates a new music sample from it. This model has been implemented by converting the music samples into one-hot vectors and then passing them through the LSTM network.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Convolution Neural Networks</h3>
                <p class="feature-box__text">
                    Implemented the ResNet Algorithm from the research paper and applied it on the SIGNS Dataset.
                    Implemented the neural style transfer algorithm according to the NST paper using the VGG-19 network and applied this to generate an image which is a mixture of Louvre museum in Paris and a painting by Claude Monet. This VGG-19 network is pre trained on the ImageNet Database.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Keras</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Tensorflow</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Uncertainty Quantifier</h3>
                <p class="feature-box__text">
                    Designed and developed a machine learning model which takes the salmon tool output of the transcripts data as an input and converts the faulty transcripts in the data to non-faulty transcripts.
                    Preprocessed the data and then analyzed the various features in the data so that only useful features can be included in the data to improve the accuracy and then generated a new dataset on which the SVM classification model was applied.
                    Based on the output of the model, the feature values were adjusted to make the faulty transcripts, non-faulty and this process was continued until the faulty transcript count was reduced by 30%.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Python</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Numpy</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Pandas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">Scikit-Learn</p>
                    </div>
                    <div class="col-md-6">
                        <p class="skills">Matplotlib</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>