<section class="section-features"> 
    <h1 class="heading-primary">Certifications</h1>              
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">ISTQB Certified Foundation level tester</h3>
                <p class="feature-box__text">
                    <img src="../../assets/istqb.jpg" alt="istqb_certificate" class="img-thumbnail">
                </p>
                <div class="tutorial">
                    <a href="" class="btn-text">View Certificate &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Blockchain Specialization</h3>
                <p class="feature-box__text">
                    <img src="../../assets/blockchain.jpg" alt="blockchain_certificate" class="img-thumbnail">
                </p>
                <div class="tutorial">
                    <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/HLN854B82NLX" class="btn-text">View Certificate &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Deep Learning Specialization</h3>
                <p class="feature-box__text">
                    <img src="../../assets/Deep_learning.jpg" alt="deeplearning_certificate" class="img-thumbnail">
                </p>
                <div class="tutorial">
                    <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/MBPV8ABMBTM5" class="btn-text">View Certificate &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>