<section class="section-features"> 
    <h1 class="heading-primary">Blockchain Projects</h1>              
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">VirtualCoin</h3>
                <p class="feature-box__text">
                    Designed and developed a cryptocurrency similar to bitcoin following the bitcoin white paper and wrapped an api around it using nodejs and express framework along with end-to-end testing. It implements the three main features of a cryptocurrency which are a secure blockchain, wallet and mining.
                    Implemented the proof of work algorithm as the consensus algorithm for the cryptocurrency.
                    Implemented the peer-to-peer server for the other nodes to join the network and transfer cryptocurrency to each other and also the miners to join the network and mine the transactions and add them to the blockchain by solving the proof of work algorithm.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">JavaScript</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">NodeJS</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Express</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="https://github.com/ShreeVishwa/Virtual-Coin" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Voting</h3>
                <p class="feature-box__text">
                    Designed and Developed an end-to-end decentralized application which uses the blockchain technology to register the voters and cast their vote. 
                    This application uses the modifiers to ensure that only the chairperson or the organizer of the voting process can register the candidates, to ensure that no one is able to register after the registration period ends, to ensure that nobody can vote until they are registered and no winner is declared until the voting process is done.
                    Implemented the unit-tests to ensure the correct functionality of the application.
                    Developed the front end in Angular and the backend using the Javascript and Smart Contracts.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">JavaScript</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Solidity</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">NodeJS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Express</p>
                    </div>
                    <div class="col-md-5">
                        <p class="skills">Angular 2+</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>