<section class="section-tours">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
            Services
        </h2>
    </div>

    <div class="row card_row">
        <div class="col-md-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span-1 card__heading-span--1">Full Stack</span>
                        <span class="card__heading-span-2 card__heading-span--1">Developer</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>Angular 2+</li>
                                    <li>NodeJS</li>
                                    <li>Express</li>
                                    <li>MongoDB</li>
                                    <li>ReactJS</li>
                                    <li>Sass</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>String MVC</li>
                                    <li>Java</li>
                                    <li>Spring Boot</li>
                                    <li>MySQL</li>
                                    <li>Hibernate</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$35/HR</p>
                        </div>
                        <a class="btn btn--white">Hire now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span-1 card__heading-span--2">Machine</span>
                        <span class="card__heading-span-2 card__heading-span--2">Learning</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>Python</li>
                                    <li>Numpy</li>
                                    <li>Pandas</li>
                                    <li>Matplotlib</li>
                                    <li>Scikit-learn</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>Tensorflow</li>
                                    <li>Keras</li>
                                    <li>C++</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$50/HR</p>
                        </div>
                        <a class="btn btn--white">Hire now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span-1 card__heading-span--3">Blockchain</span>
                        <span class="card__heading-span-2 card__heading-span--3">Developer</span>
                    </h4>
                    <div class="card__details">
                        <ul>
                            <li>Python</li>
                            <li>NodeJS</li>
                            <li>Javascript</li>
                            <li>Solidity</li>
                            <li>Smart Contract</li>
                            <li>Dapps</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$40/HR</p>
                        </div>
                        <a class="btn btn--white">Hire now!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--4">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span-1 card__heading-span--4">Big Data</span>
                        <span class="card__heading-span-2 card__heading-span--4">Developer</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>Hadoop</li>
                                    <li>Map Reduce</li>
                                    <li>Apache Spark</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card__details">
                                <ul>
                                    <li>Apache Kafka</li>
                                    <li>Apache Hive</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-4">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$45/HR</p>
                        </div>
                        <a class="btn btn--white">Hire now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>