<section class="section-features"> 
    <h1 class="heading-primary">Projects</h1>              
    <div class="row">
        <div class="col-md-3">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Autonomous Driving</h3>
                <p class="feature-box__text">
                    Developed the model to detect the objects like the cars, pedestrians, signals etc and applied it on the dataset provided by Drive.ai which contains the snapshots of the traffic taken in real time.
                </p>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Virtual Coin</h3>
                <p class="feature-box__text">
                        Designed and developed a cryptocurrency similar to bitcoin following the bitcoin white paper and wrapped an api around it using nodejs and express framework along with end-to-end testing and prrof of work algorithm implementation
                </p>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Secure Garbage File System</h3>
                <p class="feature-box__text">
                        Designed and Developed a secured garbage file system in linux 4.2 as a stackable file system. This file system is similar to a trash bin with an additional feature of encrypting the data.
                </p>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Messenger</h3>
                <p class="feature-box__text">
                        Designed and Developed a full stack web application in which the users can send messages to each other. All the messages can be seen by everyone in the home page but can only be deleted or edited by the author.
                </p>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row btn-rev">
        <a href="" [routerLink]="['/projects']" class="btn-text-rev">Explore All &rarr;</a>
    </div>
</section>