<section class="section-features"> 
    <h1 class="heading-primary">Full Stack Projects</h1>              
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Front End Applications</h3>
                <p class="feature-box__text">
                    Developed a website for a fictional company named ‘Natours’ which offers tours in the nature.
                    Developed a fictional all in one booking application named ‘Trello’ along with an additional feature of writing reviews.
                    Developed a landing page of a fictional company named ‘Nexter’ which sells luxury homes.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">HTML5</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">CSS3</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">SASS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="skills">CSS Animations</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="https://github.com/ShreeVishwa/Natours" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Messenger</h3>
                <p class="feature-box__text">
                    Designed and Developed a full stack web application in which the users can send messages to each other. All the messages that are exchanged between different users can be seen in the home page but only the author of the message can delete or edit his or her messages.
                    This application implements authentication and authorization using jwt tokens and the user gets logged out immediately after a specified amount of time.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">MongoDB</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">NodeJS</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Express</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="skills">Angular 2+</p>
                    </div>
                    <div class="col-md-3">
                        <p class="skills">JWT</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="https://github.com/ShreeVishwa/Messenger" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Vidly</h3>
                <p class="feature-box__text">
                    Designed and developed a REST API for an fictional company for renting out movies.
                    Implemented different end points for authentication, authorization, genres, movies, rentals etc.
                    Implemented logging and error handling.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">MongoDB</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">NodeJS</p>
                    </div>
                    <div class="col-md-4">
                        <p class="skills">Express</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="https://github.com/ShreeVishwa/Vidly" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="feature-box">
                <h3 class="heading-tertiary u-margin-bottom-small">Organic Shop</h3>
                <p class="feature-box__text">
                    Designed and Developed a fictional e-commerce application named ‘Organic shop’ which sells fresh vegetables and dairy products.
                    We can filter items by categories and also search of a specific item in the search bar.
                    Implemented the authentication and authorization for both the admin users and non-admin users. The admin users can add new products to the online shopping and also manage the orders that are being placed whereas the non-admin users can only shop and place orders.
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <p class="skills">Firebase</p>
                    </div>
                    <div class="col-md-5">
                        <p class="skills">Angular 2+</p>
                    </div>
                </div>
                <div class="tutorial">
                    <a href="#" class="btn-text">Tutorial &rarr;</a>
                </div>
                <div class="code">
                    <a href="#" class="btn-text">Source Code &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>